<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="lib/jquery-ui/themes/smoothness/jquery-ui.min.css" rel="stylesheet">
    <link href="style/style.css" rel="stylesheet">

    <link rel="shortcut icon" href="images/favicon.png">

    <title>CanIHazBets - online betting for fun</title>
</head>
<body style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode';">

    <!--    Facebook integration    -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>


    <span ng-app="bets">
        <ng-include ng-if="userInfo.isLogged" src="Templates.header.logged.html"></ng-include>
        <ng-include ng-if="!userInfo.isLogged" src="Templates.header.notLogged.html"></ng-include>

        <span ng-controller="MainController" ng-cloak>
            <ng-view></ng-view>
        </span>
    </span>

    <script src="dist/built.min.js"></script>

    <script>
        var langStorage = localStorage.getItem('Lang');
        var lang;

        if (langStorage) {
            lang = JSON.parse(langStorage).code;
        }
        else {
            lang = languagesListGLOBAL.english.code;
        }

        for (var i in languagesListGLOBAL) {
            var l = languagesListGLOBAL[i];
            if (l.code == lang) {
                document.write('<script src="' + l.localePath + '"><\/script>');
            }
        }
    </script>

</body>
</html>
