<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="lib/jquery-ui/themes/smoothness/jquery-ui.min.css" rel="stylesheet">
    <link href="style/style.css" rel="stylesheet">

    <link rel="shortcut icon" href="images/favicon.png">

    <title>CanIHazBets</title>
</head>
<body style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode';">

    <span ng-app="bets">
        <span ng-controller="MainController">

            <ng-include ng-if="userInfo.isLogged" src="Templates.header.logged.html"></ng-include>
            <ng-include ng-if="!userInfo.isLogged" src="Templates.header.notLogged.html"></ng-include>

            <ng-include src="RoutesFactory.currentBodyView.html"></ng-include>
            <ng-view></ng-view>

        </span>
    </span>


    <script src="dist/built.min.js"></script>


</body>
</html>
