<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="lib/jquery-ui/themes/smoothness/jquery-ui.min.css" rel="stylesheet">
    <link href="style/style.css" rel="stylesheet">

    <link rel="shortcut icon" href="images/favicon.png">

    <title>CanIHazBets</title>
</head>
<body style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode';">

    <span ng-app="bets">
        <ng-include ng-if="userInfo.isLogged" src="Templates.header.logged.html"></ng-include>
        <ng-include ng-if="!userInfo.isLogged" src="Templates.header.notLogged.html"></ng-include>

        <span ng-controller="MainController" ng-cloak>
            <ng-view></ng-view>
        </span>
    </span>


    <script src="app/main/carouselDescription.js"></script>

    <script src="lib/jquery/dist/jquery.js"></script>
    <script src="lib/jquery-ui/jquery-ui.min.js"></script>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="lib/angular-ui-date/src/date.js"></script>
    <script src="lib/angular-resource/angular-resource.js"></script>
    <script src="lib/angular-route/angular-route.js"></script>
    <script src="lib/angular-cookies/angular-cookies.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="lib/underscore/underscore-min.js"></script>
    <script src="lib/jsPDF/index.js"></script>

    <script src="app/utils/utilsModule.js"></script>
    <script src="app/utils/utilServices.js"></script>

    <script src="app/settings/settingsModule.js"></script>
    <script src="app/settings/Settings.js"></script>

    <script src="app/templates/templatesModule.js"></script>
    <script src="app/templates/templatesProvider.js"></script>

    <script src="app/resources/resourceModule.js"></script>
    <script src="app/resources/ResourceServices.js"></script>

    <script src="app/config/configModule.js"></script>
    <script src="app/config/booting-config.js"></script>
    <script src="app/config/routeProvider.js"></script>
    <script src="app/config/TokenInterceptor.js"></script>
    <script src="app/config/401-Interceptor.js"></script>

    <script src="app/user/userModule.js"></script>
    <script src="app/user/UserServices.js"></script>
    <script src="app/user/UserController.js"></script>
    <script src="app/user/RegisterController.js"></script>
    <script src="app/user/AccountActivationController.js"></script>
    <script src="app/user/ChangePasswordController.js"></script>
    <script src="app/user/ForgotPasswordController.js"></script>
    <script src="app/user/ResetPasswordController.js"></script>

    <script src="app/ranking/rankingModule.js"></script>
    <script src="app/ranking/RankingController.js"></script>
    <script src="app/ranking/RankingServices.js"></script>

    <script src="app/week/weekModule.js"></script>
    <script src="app/week/weekServices.js"></script>
    <script src="app/week/WeekController.js"></script>
    <script src="app/week/AddNewWeekController.js"></script>
    <script src="app/week/weekDirective.js"></script>

    <script src="app/profile/profileModule.js"></script>
    <script src="app/profile/ProfileController.js"></script>
    <script src="app/profile/ProfileServices.js"></script>

    <script src="app/history/historyModule.js"></script>
    <script src="app/history/HistoryServices.js"></script>
    <script src="app/history/HistoryController.js"></script>

    <script src="app/admin/adminModule.js"></script>
    <script src="app/admin/AdminPanelController.js"></script>
    <script src="app/admin/AdminRankingPanel.js"></script>
    <script src="app/admin/AdminUsersPanel.js"></script>

    <script src="app/rules/rulesModule.js"></script>
    <script src="app/rules/RulesController.js"></script>

    <script src="app/app.js"></script>

    <script src="app/main/WelcomePageController.js"></script>
    <script src="app/main/mainController.js"></script>

</body>
</html>
