
.blue {
    color: #75B8FF !important;
}

.white {
    color: white !important;
}

.white-gray {
    color: #EBEBEB !important;
}

.header-bg-color {
    background-color: rgb(0, 0, 0) !important;
    background-color: rgba(0, 0, 0, 0) !important;
}

.brand-color {
    color: #12A4E3 !important;
}

.navbar-nav li a {
    color: #43cfff !important;
}

.navbar-nav li a:hover {
    color: #eafdff !important;
}

.dropdown ul li a:hover {
    color: #43cfff !important;
}

.nav-tabs li a {
    color: #1998ff !important;
}

.dropdown li a {
    color: #4a95ff !important;
}

.header-text-size {
    font-size: 1em;
}

.centered {
    margin: 0 auto;
    float: none;
    text-align: center;
}

.cornered-input {
    border-radius: 7px !important;
}

.top-buffer-0-5-em {
    margin-top: 0.5em;
}

.top-buffer-1-em {
    margin-top: 1em;
}

.top-buffer-2-em {
    margin-top: 2em;
}

.red-border {
    border-style: solid;
    border-color: #ff0000;
    border-width: 0.2em;
}

.menu-link-border {
    background-color: rgb(0, 0, 0) !important;
    background-color: rgba(0, 0, 0, 0) !important;
    margin-left: 0.2em;
    margin-right: 0.2em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    min-width: 7.3em;
    border: 0.2em solid rgba(255,255,255, 0);
    border-radius: 0.6em !important;
}

.menu-link-border:hover {
    background-color: rgb(0, 0, 0) !important;
    background-color: rgba(0, 0, 0, 0) !important;
    border-width: 0.2em;
    border-color: white;
    border-style: solid;
    border-radius: 0.6em !important;
    margin-left: 0.2em;
    margin-right: 0.2em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    min-width: 7.3em;
}

.lang-link-border {
    background-color: rgb(0, 0, 0) !important;
    background-color: rgba(0, 0, 0, 0) !important;
    margin-top: 0.3em;
    margin-bottom: 0.2em;
}

body {
    background: url(./../images/bg/ball_00.jpg) no-repeat center center fixed;
    background-size: cover;
}

body    {overflow-y:scroll;}

.half-bg-opacity {
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.error-div {
    min-height: 4em;
    display: inline-flex;
    border-color: #ff0046;
    border-style: solid;
    background-color: #ff6354;
}

.success-div {
    min-height: 4em;
    display: inline-flex;
    border-color: #25bc6c;
    border-style: solid;
    background-color: #00e15a;
}

.error-success-inner {
    margin: auto
}

::-webkit-scrollbar {
    width: 12px;
    border-radius: 15px;
}

::-webkit-scrollbar-track {
    border: 15px;
}

::-webkit-scrollbar-thumb {
    border: 0.4em solid #92978d;
    border-radius: 15px;
}

.pleasedontfloat {
    clear:both;
}

.week-win-certificate {
    color: #ff9124;
}

.blue-link {
    cursor: pointer;
    color: #73d1ff;
    text-decoration: underline;
}

.blue-link:hover {
    cursor: pointer;
    color: #cffffa;
    text-decoration: none;
}

.border-input-too-big-score-difference {
    border-width: 0.2em !important;
    border-color: #ff0429 !important;
}


.chat-box {
    font: normal normal 11px/1.4 Tahoma,Verdana,Sans-Serif;
    color: #333;
    width: 250px; /* Chatbox width */
    border: 1px solid #344150;
    border-bottom: none;
    background-color: white;
    position: fixed;
    right: 10px;
    bottom: 0;
    z-index: 9999;
    -webkit-box-shadow: 1px 1px 5px rgba(0,0,0,.2);
    -moz-box-shadow: 1px 1px 5px rgba(0,0,0,.2);
    box-shadow: 1px 1px 5px rgba(0,0,0,.2);
}

.chat-box:focus {
    outline: none;
}

.chat-box > input[type="checkbox"] {
    display: block;
    margin: 0 0;
    padding: 0 0;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 85%;
    height: 26px;
    z-index: 4;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.chat-box > input[type="button"] {
    display: block;
    margin: 0 0;
    padding: 0 0;
    position: absolute;
    top: 0;
    right: 0;
    left: 85%;
    width: 15%;
    height: 26px;
    z-index: 4;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.input-box {
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

.chat-box > label {
    display: block;
    height: 24px;
    line-height: 24px;
    background-color: #344150;
    color: white;
    font-weight: bold;
    padding: 0 1em 1px;
}

.chat-box > label:before {content:attr(data-collapsed)}

.chat-box .chat-box-content {
    padding: 10px;
    display: none;
}

/* hover state */
.chat-box > input[type="checkbox"]:hover + label {background-color:#404D5A}

/* checked state */
.chat-box > input[type="checkbox"]:checked + label {background-color: #212A35}
.chat-box > input[type="checkbox"]:checked + label:before {content: attr(data-expanded)}
.chat-box > input[type="checkbox"]:checked ~ .chat-box-content {display: block}

.ellipsis-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.messages-preview {
    z-index: 99999;
    -webkit-box-shadow: 2px 1px 4px rgba(0,0,0,0.2);
    -moz-box-shadow: 2px 1px 4px rgba(0,0,0,0.2);
    box-shadow: 2px 1px 4px rgba(0,0,0,0.2);
    color: #009aff;
}

.msg-box {
    position: absolute;
    width: 350px;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(8, 3, 24, 0.21);
    box-shadow: 1px 1px rgba(5, 0, 25, 0.39);
    background-color: #f5f5f9;
}

.msg-box-scroll {
    max-height: 340px;
    overflow-x: scroll;
    white-space: nowrap;
}

.row-msg {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-color: #006597;
    box-shadow: 1px 1px rgba(5, 0, 25, 0.39);
}

.row-msg:hover {
    background-color: white;
    cursor: pointer;
    -webkit-box-shadow: 2px 1px 4px rgba(0,0,0,0.2);
    -moz-box-shadow: 2px 1px 4px rgba(0,0,0,0.2);
    box-shadow: 2px 1px 4px rgba(0,0,0,0.2);
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.red-text {
    color: #f90036
}

.green-text {
    color: #00ab7d;
}

.chat-img {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    height: 30px;
    width: 30px;
}

.chat-img:hover {
    border-radius: 50%;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
    height: 50px;
    width: 50px;
}
