
.blue {
    color: #75B8FF !important;
}

.white {
    color: white !important;
}

.white-gray {
    color: #EBEBEB !important;
}

.header-bg-color {
    background-color: rgb(0, 0, 0) !important;
    background-color: rgba(0, 0, 0, 0) !important;
}

.brand-color {
    color: #12A4E3 !important;
}

.header-menu-color li a {
    color: #00C4F0 !important;
}

.header-text-size {
    font-size: 1em;
}

.centered {
    margin: 0 auto;
    float: none;
    text-align: center;
}

.cornered-input {
    border-radius: 7px !important;
}

.top-buffer-0-5-em {
    margin-top: 0.5em;
}

.red-border {
    border-width: 0.1em;
    box-shadow: 0 0 0 0.2em #ff0000 inset;
}

.menu-link-border {
    border-width: 0.4em;
    border-color: white;
    border-style: solid;
    border-radius: 1em !important;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    min-width: 7.5em;
}

body {
    background-size:   cover;
    background-repeat: no-repeat;
}

.half-bg-opacity {
    background-color: rgba(0, 0, 0, 0.5) !important;
}
