
.blue {
    color: #75B8FF !important;
}

.white {
    color: white !important;
}

.white-gray {
    color: #EBEBEB !important;
}

.centered {
    margin: 0 auto;
    float: none;
    text-align: center;
}

.cornered-input {
    border-radius: 7px !important;
}

.top-buffer-0-5-em {
    margin-top: 0.5em;
}