<div class="container">

    <div class="jumbotron centered white half-bg-opacity">

        <div>
            {{'homePage.notLogged.welcome' | translate}}
        </div>

        <div style="height: 100%; width: 100%; margin-top: 2em;">
            <carousel interval="Settings.home.carouselInterval">
                <slide ng-repeat="slide in carouselSlides" active="slide.active">
                    <img ng-src="{{slide.image}}" style="margin:auto; height: 80%; width: 80%">
                    <div class="carousel-caption">
                        <h4>{{slide.title}}</h4>
                        <p>{{slide.description}}</p>
                    </div>
                </slide>
            </carousel>
        </div>

    </div>

</div>