<div class="container" ng-controller="RankingController">

    <div class="jumbotron centered white half-bg-opacity">

        <h2>Ranking</h2>
        <span>
            <span style="cursor: pointer; color: #73d1ff; text-decoration: underline;" ng-click="downloadAsPdf()">
                Download as pdf
            </span>
        </span>

        <div class="row top-buffer-1-em">
            <input type="text" class="form-control cornered-input" style="width: 30%"
                   placeholder="Search user" ng-model="searchedUser"
                   typeahead="user.username for user in RankingFactory.ranking | filter:$viewValue"
                   ng-keydown="openUserModalOnEnter($event)">
        </div>

        <ul class="list-group centered top-buffer-1-em" style="width: 100%;">

            <span class="list-group-item half-bg-opacity">
                <div class="list-group-item-text row">
                    <span class="col-xs-1">Place</span>
                    <span class="col-xs-3">Username</span>
                    <span class="col-xs-2">Points</span>
                    <span class="col-xs-2">Average</span>
                    <span class="col-xs-4">Register date</span>
                </div>
            </span>

            <li ng-if="RankingFactory.errorFetching" class="list-group-item half-bg-opacity">
                <div class="row">
                    {{RankingFactory.errorMessage}}
                </div>
            </li>

            <li ng-repeat="user in RankingFactory.ranking | limitTo: limitUsersTo track by user._id" class="list-group-item half-bg-opacity">
                <div class="row" style="cursor: pointer" ng-click="openModal(user)">
                    <span class="col-xs-1"><span class="badge" style="background-color: #60a2ff !important;">{{user.place}}</span></span>
                    <span class="col-xs-3">{{user.username}}</span>
                    <span class="col-xs-2">{{user.points}}</span>
                    <span class="col-xs-2">{{user.avgPoints.toFixed(2)}}%</span>
                    <span class="col-xs-4">{{user.registerDate | date: 'fullDate'}}</span>
                </div>
            </li>
            <div class="top-buffer-1-em centered" ng-show="limitUsersTo < RankingFactory.ranking.length">
                <span ng-click="loadMore()" style="cursor: pointer; color: #73d1ff; text-decoration: underline;">
                    Load more
                </span>
            </div>

        </ul>

    </div>

</div>