
<div class="modal-header">
    <h3 class="modal-title" style="display: inline">
        {{user.username}}
    </h3>
    <a style="cursor: pointer; display: inline; margin-left: 1em" ng-click="openChatbox()">
        {{'rankingPage.userRanking.sendMessage' | translate}}
    </a>
</div>
<div class="modal-body">
    <div class="row">
        <img style="padding-left: 2em; padding-top: 0.5em; padding-bottom: 1em;"
             ng-src="{{Gravatar.getImageUrl(user.email, 150)}}" />
    </div>
    <div class="row">
        <span class="col-xs-4">
            {{'rankingPage.userRanking.username' | translate}}
        </span>
        <span class="col-xs-8">
            {{user.username}}
        </span>
    </div>
    <div class="row">
        <span class="col-xs-4">
            {{'rankingPage.userRanking.place' | translate}}
        </span>
        <span class="col-xs-8">
            {{user.place}}
        </span>
    </div>
    <div class="row">
        <span class="col-xs-4">
            {{'rankingPage.userRanking.points' | translate}}
        </span>
        <span class="col-xs-8">
            {{user.points}}
        </span>
    </div>
    <div class="row">
        <span class="col-xs-4">
            {{'rankingPage.userRanking.average' | translate}}
        </span>
        <span class="col-xs-8">
            {{user.avgPoints.toFixed(2)}}%
        </span>
    </div>
    <div class="row">
        <span class="col-xs-4">
            {{'rankingPage.userRanking.wonWeeks' | translate}}
        </span>
        <span class="col-xs-8">
            {{user.wonWeeks}}
        </span>
    </div>
    <div class="row">
        <span class="col-xs-4">
            {{'rankingPage.userRanking.awards' | translate}}
        </span>
        <span class="col-xs-8">
            <span ng-if="user.wonWeeks > 0" class="glyphicon glyphicon-certificate week-win-certificate"
                  title="{{'rankingPage.userRanking.gainedForWinningAWeek' | translate}}."></span>
        </span>
    </div>
    <div class="row">
        <span class="col-xs-4">
            {{'rankingPage.userRanking.preferredLanguage' | translate}}
        </span>
        <span class="col-xs-8">
            <img ng-src="{{Languages.findByCode(user.language).imgPath}}" style="margin-bottom: 3px" />
            {{Languages.findByCode(user.language).name}}
        </span>
    </div>
    <div class="row">
        <span class="col-xs-4">
            {{'rankingPage.userRanking.userRank' | translate}}
        </span>
        <span class="col-xs-8">
            {{RolesFactory.findRoleByName(user.role).beautifulName}}
        </span>
    </div>
    <div class="row">
        <span class="col-xs-4">
            {{'rankingPage.userRanking.registerDate' | translate}}
        </span>
        <span class="col-xs-8">
            {{user.registerDate | date:'MMM d, y'}}
        </span>
    </div>
    <div class="row top-buffer-0-5-em">
        <span class="col-xs-4">
            <a ng-href="#/history/{{user._id}}" ng-click="viewUserHistory()">
                {{'rankingPage.userRanking.viewHistory' | translate}}
            </a>
        </span>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" ng-click="cancel()">
        {{'rankingPage.userRanking.closeButton' | translate}}
    </button>
</div>
