
<div class="jumbotron centered white half-bg-opacity" ng-controller="ProfileController">

    <div class="panel-heading">
        <div class="row">
            <h2 class="panel-title">Profile details</h2>
        </div>
    </div>

    <div class="panel-body">

        <div class="row form-inline top-buffer-0-5-em">
                <span style="width: 10%" class="input-group">
                    Username
                </span>
                <span style="width: 20%" class="input-group">
                    {{ProfileFactory.profileInformation.username}}
                </span>
        </div>

        <div class="row form-inline top-buffer-0-5-em">
                <span style="width: 10%" class="input-group">
                    E-mail
                </span>
                <span style="width: 20%" class="input-group">
                    {{ProfileFactory.profileInformation.email}}
                </span>
        </div>

        <div class="row form-inline top-buffer-0-5-em">
                <span style="width: 10%" class="input-group">
                    Birth date
                </span>
                <span style="width: 20%" class="input-group">
                    {{ProfileFactory.profileInformation.birthDate | date: 'MMM d, y'}}
                </span>
        </div>

        <div class="row form-inline top-buffer-0-5-em">
                <span style="width: 10%" class="input-group">
                    Register date
                </span>
                <span style="width: 20%" class="input-group">
                    {{ProfileFactory.profileInformation.registerDate | date: 'MMM d, y'}}
                </span>
        </div>

        <div class="row form-inline top-buffer-0-5-em">
                <span style="width: 10%" class="input-group">
                    Place
                </span>
                <span style="width: 20%" class="input-group">
                    {{ProfileFactory.profileInformation.place}}
                </span>
        </div>

        <div class="row form-inline top-buffer-0-5-em">
                <span style="width: 10%" class="input-group">
                    Points
                </span>
                <span style="width: 20%" class="input-group">
                    {{ProfileFactory.profileInformation.points}}
                </span>
        </div>

        <div class="row form-inline top-buffer-0-5-em">
                <span style="width: 10%" class="input-group">
                    User rank
                </span>
                <span style="width: 20%" class="input-group">
                    {{RolesFactory.findRoleByName(ProfileFactory.profileInformation.role).beautifulName}}
                </span>
        </div>

        <div class="row form-inline top-buffer-0-5-em">
                <span style="width: 30%" class="input-group">
                    <input type="checkbox" ng-model="userModel.isMailNotificationOn" id="notificationOption" />
                    &nbsp;
                    <label for="notificationOption">Notify me via e-mail about site news.</label>
                </span>
        </div>


        <div style="margin-top: 1em">
            <button type="button" class="btn btn-info" style="width: 30%" ng-show="!showConfirm"
                    ng-disabled="status.inProgress" ng-click="showConfirm = true">
                Save changes
            </button>

            <button type="button" class="btn btn-info" style="width: 15%" ng-show="showConfirm"
                    ng-click="updateProfile(); showConfirm = false">
                Yes
            </button>
            <button type="button" class="btn btn-info" style="width: 15%" ng-show="showConfirm"
                    ng-click="showConfirm = false">
                No
            </button>
        </div>

        <div ng-show="status.success" class="top-buffer-0-5-em centered cornered-input success-div"
             style= "width: 40%;">
            <span class="error-success-inner">
                {{status.message}}
            </span>
        </div>

        <div ng-show="status.error" class="top-buffer-0-5-em centered cornered-input error-div"
             style= "width: 40%;">
            <span class="error-success-inner">
                {{status.message}}
            </span>
        </div>

    </div>


</div>
