
<!--    ADMIN panel     -->
<div class="jumbotron centered white half-bg-opacity" ng-controller="NewWeekController"
     ng-if="RolesFactory.userHasRole(userInfo.user.role, RolesFactory.roles.admin)">

    <div style="cursor: pointer">
        <span ng-click="newWeekPanel = !!!newWeekPanel">
            <span class="glyphicon glyphicon-align-justify white"></span>
            {{'weekPage.addNewWeekPage.addNewWeek' | translate}}
        </span>
    </div>


    <div class="panel-heading" ng-show="newWeekPanel">
        <div class="row">
            <h2 class="panel-title">{{'weekPage.addNewWeekPage.week' | translate}} {{WeekFactory.currentWeek.number + 1}}</h2>
        </div>
        <div class="row">
            {{'weekPage.addNewWeekPage.newWeekDescription' | translate}}
        </div>

        <div class="panel-body">

            <div class="row form-inline top-buffer-0-5-em">
                    <span style="width: 20%" class="input-group">
                        <input type="text" ng-model="matchesNumber.total" ng-change="validateNumberOfMatches(); setMatchesArray()"
                               class="form-control cornered-input" placeholder="{{'weekPage.addNewWeekPage.totalMatches' | translate}}" />
                    </span>
            </div>

            <div class="row form-inline top-buffer-0-5-em">
                    <span style="width: 20%" class="input-group">
                        <input type="text" ng-model="matchesNumber.required" class="form-control cornered-input"
                               ng-change="validateNumberOfMatches()" placeholder="{{'weekPage.addNewWeekPage.required' | translate}}" />
                    </span>
            </div>

            <div class="row" ng-if="matches.length > 0">
                <input type="checkbox" id="hiddenWeek" ng-model="weekOptions.hidden" />
                <label for="hiddenWeek" style="font-style: normal; font-weight: normal">
                    {{'weekPage.addNewWeekPage.hidden' | translate}}
                </label>
            </div>

            <div class="row form-inline top-buffer-0-5-em" ng-repeat="match in matches track by $index">
                    <span style="width: 25%" class="input-group">
                        <input type="text" ng-model="match.homeTeam" class="form-control cornered-input"
                               placeholder="{{'weekPage.addNewWeekPage.homeTeam' | translate}}" />
                    </span>
                    <span style="width: 5%">
                        vs
                    </span>
                    <span style="width: 25%" class="input-group">
                        <input type="text" ng-model="match.awayTeam" class="form-control cornered-input"
                               placeholder="{{'weekPage.addNewWeekPage.awayTeam' | translate}}" />
                    </span>
                    <span style="width: 10%" class="input-group">
                        <input ui-date="dateOptions" ng-model="match.startDate" class="form-control cornered-input"
                               placeholder="{{'weekPage.addNewWeekPage.startDate' | translate}}" />
                    </span>
                    <span style="width: 8%" class="input-group">
                        <input ng-model="match.startTime" class="form-control cornered-input" placeholder="HH:MM" />
                    </span>
                    <span style="width: 25%" class="input-group">
                        <input type="text" ng-model="match.competition" class="form-control cornered-input"
                               placeholder="{{'weekPage.addNewWeekPage.competition' | translate}}" />
                    </span>
            </div>

        </div>

        <span ng-show="matchesNumber.total > 0 && matches.total != ''">
            <div style="margin-top: 1em" ng-hide="beforeSave.showConfirm">
                <button type="button" class="btn btn-info" style="width: 40%" ng-click="showConfirm();" ng-disabled="publishError()">
                    {{'weekPage.addNewWeekPage.publish' | translate}}
                </button>
            </div>

            <div style="margin-top: 1em" ng-show="beforeSave.showConfirm">
                <button type="button" class="btn btn-info" style="width: 20%" ng-click="publish(); hideConfirm();">
                    {{'weekPage.addNewWeekPage.yes' | translate}}
                </button>
                <button type="button" class="btn btn-info" style="width: 20%" ng-click="hideConfirm();">
                    {{'weekPage.addNewWeekPage.no' | translate}}
                </button>
            </div>
        </span>

        <div ng-show="afterSave.error" class="top-buffer-0-5-em centered cornered-input error-div"
             style= "width: 40%;">
            <span class="error-success-inner">
                {{afterSave.message}}
            </span>
        </div>

        <div ng-show="afterSave.success" class="top-buffer-0-5-em centered cornered-input success-div"
             style= "width: 40%;">
            <span class="error-success-inner">
                {{afterSave.message}}
            </span>
        </div>

        <div style="margin-top: 1em" ng-show="afterSave.success">
            <button type="button" class="btn btn-info" style="width: 40%" ng-click="afterSave.refresh();">
                {{'weekPage.addNewWeekPage.refresh' | translate}}
            </button>
        </div>

    </div>

</div>
