
<div class="jumbotron centered white half-bg-opacity" ng-show="week.number > 0">

    <div class="panel-heading">
        <div class="row">
            <h2 class="panel-title">
            Week {{week.number}}
            &nbsp;
            <span ng-click="openEditWeekModal()" class="blue-link">
                Edit
            </span>
            </h2>
        </div>
        <div class="row" ng-show="week.available">
            {{week.events.length}} total matches.
            You are required to play {{week.required}} of them.
        </div>
        <div class="row" ng-show="!week.available">
            {{week.events.length}} total matches on that week.
            You were required to play {{week.required}} of them.
        </div>
        <div class="row" ng-show="errorObject.active && week.available">
            <span style="color: #ff0026">
                {{errorObject.message}}
            </span>
        </div>
        <div class="row" style="color: #03b2ff" ng-show="week.available">
            <span ng-if="isToday()">
                Deadline: Today, {{week.endDate | date: 'h:mm a'}}
            </span>
            <span ng-if="isTomorrow()">
                Deadline: Tomorrow, {{week.endDate | date: 'h:mm a'}}
            </span>
            <span ng-if="!isToday() && !isTomorrow()">
                Deadline: {{week.endDate | date:'MMM d, y h:mm a'}}
            </span>
        </div>
        <div class="row" ng-show="!week.available">
            <span style="color: #ff0026">
                Bet placement isn't available anymore for this week.
            </span>
        </div>

        <div class="panel-body">

            <div class="row form-inline top-buffer-0-5-em" ng-repeat="match in week.events track by $index">
                <span style="width: 30%" class="input-group">
                    {{match.homeTeam}}
                </span>
                <span style="width: 5%" class="input-group">
                    <input class="form-control cornered-input" ng-model="match.homeScore"
                           ng-change="match.homeScore = validateScore(match.homeScore)"
                           ng-readonly="!week.available && !updateScoreMode" />
                </span>
                <span style="width: 25%;" class="input-group">
                    <span ng-show="!week.ended || updateScoreMode" style="display: block">
                        {{match.startDate | date: 'MMM d, y h:mm a'}}
                    </span>
                    <span ng-show="week.ended && !updateScoreMode" style="display: block">
                        {{match.realHomeScore}} - {{match.realAwayScore}}
                    </span>
                    <span style="display: block">
                        {{match.competition}}
                    </span>
                </span>
                <span style="width: 5%" class="input-group">
                    <input class="form-control cornered-input" ng-model="match.awayScore"
                           ng-change="match.awayScore = validateScore(match.awayScore)"
                           ng-readonly="!week.available && !updateScoreMode" />
                </span>
                <span style="width: 30%" class="input-group">
                    {{match.awayTeam}}
                </span>
            </div>

        </div>

        <span ng-if="week.available">
            <div style="margin-top: 1em" ng-hide="weekOptions.showConfirm">
                <button type="button" class="btn btn-info" style="width: 40%" ng-click="showConfirm()">
                    Bet
                </button>
            </div>

            <div style="margin-top: 1em" ng-show="weekOptions.showConfirm">
                <button type="button" class="btn btn-info" style="width: 20%" ng-click="place(); hideConfirm();">
                    Yes
                </button>
                <button type="button" class="btn btn-info" style="width: 20%" ng-click="hideConfirm();">
                    No
                </button>
            </div>

            <div ng-show="BetService.afterPlacement.error" class="top-buffer-0-5-em centered cornered-input error-div"
                 style= "width: 40%;">
                <span class="error-success-inner">
                    {{BetService.afterPlacement.message}}
                </span>
            </div>

            <div ng-show="BetService.afterPlacement.success" class="top-buffer-0-5-em centered cornered-input success-div"
                 style= "width: 40%;">
                <span class="error-success-inner">
                    {{BetService.afterPlacement.message}}
                </span>
            </div>
        </span>

        <div class="white" ng-if="week.ended" style="margin: 2em">
            <span ng-if="bets.points > 1">
                You won {{bets.points}} points this week.
            </span>
            <span ng-if="bets.points == 1">
                You won 1 point this week.
            </span>
            <span ng-if="bets.points == 0">
                You won no points this week.
            </span>
            <ng-if ng-if="!bets">
                You didn't place a bet this week. Therefore you won no points.
            </ng-if>
        </div>

        <span ng-if="!week.available && RolesFactory.userHasRole(userInfo.user.role, RolesFactory.roles.admin)">
            <div ng-click="updateModeOn(); prepareEventsForResultsSaving()" style="cursor: pointer">
                <span class="glyphicon glyphicon-align-justify white"></span>
                Update results
            </div>
            <div ng-show="updateScoreMode" style="color: #00a4ff">
                <div>
                    You are in update mode. Enter the correct results for each event like when you normally play them.
                </div>
                <div>
                    They will be saved as results and not as a bet.
                </div>
            </div>
            <div ng-show="updateScoreMode" ng-click="updateModeOff(); refreshEventsForNonUpdateMode()" style="cursor: pointer">
                <span class="glyphicon glyphicon-align-justify white"></span>
                Toggle back to normal mode
            </div>


            <div style="margin-top: 1em" ng-show="updateScoreMode && !confirmResults">
                <button type="button" class="btn btn-info" style="width: 40%" ng-disabled="isResultsSaveDisabled()"
                ng-click="confirmResults = true">
                    Save results
                </button>
            </div>

            <div style="margin-top: 1em" ng-show="updateScoreMode && confirmResults">
                <button type="button" class="btn btn-info" style="width: 20%" ng-click="updateResults(); confirmResults = false">
                    Yes
                </button>
                <button type="button" class="btn btn-info" style="width: 20%" ng-click="confirmResults = false">
                    No
                </button>
            </div>

            <div ng-show="afterUpdateResults.error" class="top-buffer-0-5-em centered cornered-input error-div"
                 style= "width: 40%;">
                <span class="error-success-inner">
                    {{afterUpdateResults.message}}
                </span>
            </div>

            <div ng-show="afterUpdateResults.success"
                 class="top-buffer-0-5-em centered cornered-input success-div"
                 style= "width: 40%;">
                <span class="error-success-inner">
                    {{afterUpdateResults.message}}
                </span>
            </div>

        </span>

    </div>

</div>
