<div class="container" ng-controller="WeekController">

    <div class="jumbotron centered white half-bg-opacity">
        <h2 ng-if="WeekFactory.currentWeek.number > 0">Weeks and bets</h2>
        <h2 ng-if="WeekFactory.currentWeek.number == 0">Fun hasn't start yet. Please come back soon.</h2>

        <week week="WeekFactory.currentWeek"></week>
        <br />
        <week week="WeekFactory.beforeCurrentWeek"></week>

    </div>

    <ng-include src="'app/week/views/addNewWeek.html'"></ng-include>

</div>