<div class="container" ng-controller="WeekController">

    <div class="jumbotron centered white half-bg-opacity">
        <h2 ng-if="WeekFactory.currentWeek.number > 0 || searchOn">Weeks and bets</h2>
        <h2 ng-if="WeekFactory.currentWeek.number == 0">Fun hasn't start yet. Please come back soon.</h2>

        <div class="top-buffer-1-em">
            <span>
                <div>
                    Search week by number
                    <span class="form-inline">
                        <input ng-model="searchedWeek.model" class="cornered-input form-control" placeholder="#" style="width: 5%" />
                    </span>
                    &nbsp;
                    &nbsp;
                    <span ng-click="searchWeek()" class="blue-link">
                        Show
                    </span>
                    &nbsp;
                    <span ng-click="loadLastTwoWeeks(); searchOff()" class="blue-link">
                        Reset
                    </span>
                </div>
            </span>
        </div>

        <div class="top-buffer-1-em">
            <span ng-if="WeekFactory.currentWeek.number > 0 && WeekFactory.currentWeek.available &&
            RolesFactory.userHasRole(userInfo.user.role, RolesFactory.roles.admin)">
                <div>
                    Send e-mails to all users of the site to notify them there's a new week that they can play.
                    They'll receive a list of all matches of the latest week.
                </div>
                <div style="margin-top: 1em">
                    <button type="button" class="btn btn-info" style="width: 40%" ng-show="!showConfirm"
                            ng-disabled="mailNotificationStatus.inProgress" ng-click="showConfirm = true">
                        Send mail notifications
                    </button>

                    <button type="button" class="btn btn-info" style="width: 20%" ng-show="showConfirm"
                            ng-click="sendMailNotificationOnNewWeek(); showConfirm = false">
                        Yes
                    </button>
                    <button type="button" class="btn btn-info" style="width: 20%" ng-show="showConfirm"
                            ng-click="showConfirm = false">
                        No
                    </button>
                </div>

                <div ng-show="mailNotificationStatus.success" class="top-buffer-0-5-em centered cornered-input success-div"
                     style= "width: 40%;">
                    <span class="error-success-inner">
                        {{mailNotificationStatus.message}}
                    </span>
                </div>

                <div ng-show="mailNotificationStatus.error" class="top-buffer-0-5-em centered cornered-input error-div"
                     style= "width: 40%;">
                    <span class="error-success-inner">
                        {{mailNotificationStatus.message}}
                    </span>
                </div>
            </span>
        </div>

        <div class="top-buffer-1-em">
            <span ng-show="!searchOn">
                <week week="WeekFactory.currentWeek" bets="WeekFactory.currentWeekBet" reload="loadLastTwoWeeks()"
                      error-object="WeekFactory.error.currentBet" refresh-bets="refreshBets()"></week>
                <br />
                <week week="WeekFactory.beforeCurrentWeek" bets="WeekFactory.beforeCurrentWeekBet" reload="loadLastTwoWeeks()"
                      error-object="WeekFactory.error.beforeCurrentBet" refresh-bets="refreshBets()"></week>
            </span>
            <span ng-show="searchOn">
                <week week="WeekFactory.weeksByNumber[searchedWeek.number]" bets="WeekFactory.betsByWeekNumber[searchedWeek.number]"
                      error-object="WeekFactory.error.betsByWeekNumberError[searchedWeek.number]"
                      reload="loadSpecificWeekByNumber(weekNumber)"
                      refresh-bets="refreshSearchedWeek()" searched-week-number="searchedWeek.number"></week>
            </span>
        </div>

    </div>

    <ng-include src="'app/week/views/addNewWeek.html'"></ng-include>

</div>