
<div class="jumbotron centered white half-bg-opacity" ng-show="week.number > 0">

    <div class="panel-heading">
        <div class="row">
            <h2 class="panel-title">Week {{week.number}}</h2>
        </div>
        <div class="row">
            {{week.events.length}} total matches.
            You are required to play {{week.required}} of them.
        </div>

        <div class="panel-body">

            <div class="row form-inline top-buffer-0-5-em" ng-repeat="match in week.events">
                <span style="width: 30%" class="input-group">
                    {{match.homeTeam}}
                </span>
                <span style="width: 5%" class="input-group">
                    <input class="form-control cornered-input" ng-model="match.homeScore" ng-change="match.homeScore = validateScore(match.homeScore)" />
                </span>
                <span style="width: 25%" class="input-group">
                    {{match.startDate | date: 'MMM d, y h:mm a'}}
                </span>
                <span style="width: 5%" class="input-group">
                    <input class="form-control cornered-input" ng-model="match.awayScore" ng-change="match.awayScore = validateScore(match.awayScore)" />
                </span>
                <span style="width: 30%" class="input-group">
                    {{match.awayTeam}}
                </span>
            </div>

        </div>

        <div style="margin-top: 1em" ng-hide="week.showConfirm">
            <button type="button" class="btn btn-info" style="width: 40%" ng-click="showConfirm()">
                Bet
            </button>
        </div>

        <div style="margin-top: 1em" ng-show="week.showConfirm">
            <button type="button" class="btn btn-info" style="width: 20%" ng-click="place(); hideConfirm();">
                Yes
            </button>
            <button type="button" class="btn btn-info" style="width: 20%" ng-click="hideConfirm();">
                No
            </button>
        </div>

        <div ng-show="BetService.afterPlacement.error" class="top-buffer-0-5-em centered cornered-input error-div"
             style= "width: 40%;">
            <span class="error-success-inner">
                {{BetService.afterPlacement.message}}
            </span>
        </div>

        <div ng-show="BetService.afterPlacement.success" class="top-buffer-0-5-em centered cornered-input success-div"
             style= "width: 40%;">
            <span class="error-success-inner">
                {{BetService.afterPlacement.message}}
            </span>
        </div>

    </div>

</div>
