<div class="modal-header">
    <h3 class="modal-title">Week #{{week.number}}</h3>
    <div>
        Use the editing functionality with care.
        Note that if player already placed the bets, their bets can be corrupted if week changes.
    </div>
    <div>
        Therefore this functionality should be used only in clear situations when it is needed, like solving a typo or a match starting time.
    </div>
    <div>
        Do NOT add/remove an event or change the deadline drastically if a long time has passed since the week has been published.
    </div>
</div>
<div class="modal-body">

    <div class="row">
        <div class="col-xs-12 form-inline">
            <span>
                Required matches
            </span>
            <span style="width: 10%" class="input-group">
                <input type="text" ng-model="week.required" class="form-control cornered-input"
                       ng-change="validateNumberOfMatches()" placeholder="Required" />
            </span>
        </div>
    </div>

    <div class="row top-buffer-0-5-em">
        <div class="col-xs-12">
            <div class="form-inline centered">
                <span style="width: 50%" class="input-group">
                    <b>Event</b>
                </span>
                <span style="width: 18%" class="input-group">
                    <b>Date</b>
                </span>
                <span style="width: 8%" class="input-group">
                    <b>Time</b>
                </span>
                <span style="width: 22%" class="input-group">
                    <b>Competition</b>
                </span>
            </div>
        </div>
    </div>

    <div class="row top-buffer-0-5-em">
        <div class="col-xs-12">
            <div class="form-inline" ng-repeat="match in week.events track by $index">
                <span class="glyphicon glyphicon-remove input-group" style="width: 2%; color: red; cursor: pointer"
                      ng-click="removeMatch($index)">
                </span>
                <span style="width: 23%" class="input-group">
                    <input type="text" ng-model="match.homeTeam" class="form-control cornered-input" placeholder="Home team" />
                </span>
                <span style="width: 4%">
                    vs
                </span>
                <span style="width: 23%" class="input-group">
                    <input type="text" ng-model="match.awayTeam" class="form-control cornered-input" placeholder="Away team" />
                </span>
                <span style="width: 18%" class="input-group">
                    <input type="text" class="form-control" datepicker-popup="{{dateFormat}}" ng-model="match.startDate"
                           is-open="match.dateOpened" min-date="minDate" close-text="Close" ng-click="openDate(match, $event)" />
                </span>
                <span style="width: 8%" class="input-group">
                    <input ng-model="match.startTime" class="form-control cornered-input" placeholder="HH:MM" />
                </span>
                <span style="width: 22%" class="input-group">
                    <input type="text" ng-model="match.competition" class="form-control cornered-input" placeholder="Competition" />
                </span>
            </div>

            <div class="top-buffer-1-em" style="color: green">
                <span ng-click="addNewEvent()" style="cursor: pointer;">
                    <span class="glyphicon glyphicon-plus">
                    </span>
                    Add new event
                </span>
            </div>
        </div>
    </div>

</div>

<div class="modal-footer">
    <button class="btn btn-primary" ng-disabled="isSavingDisabled()" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
