<div class="modal-header">
    <h3 class="modal-title">{{'weekPage.weekEdit.week' | translate}} #{{week.number}}</h3>
    <div>
        {{'weekPage.weekEdit.warning1' | translate}}
    </div>
    <div>
        {{'weekPage.weekEdit.warning2' | translate}}
    </div>
    <div>
        {{'weekPage.weekEdit.warning3' | translate}}    </div>
</div>
<div class="modal-body">

    <div class="row">
        <div class="col-xs-12 form-inline">
            <span>
                {{'weekPage.weekEdit.requiredMatches' | translate}}
            </span>
            <span style="width: 10%" class="input-group">
                <input type="text" ng-model="week.required" class="form-control cornered-input"
                       ng-change="validateNumberOfMatches()" placeholder="{{'weekPage.weekEdit.required' | translate}}" />
            </span>
        </div>
    </div>

    <div class="row top-buffer-0-5-em">
        <div class="col-xs-12">
            <div class="form-inline centered">
                <span style="width: 50%" class="input-group">
                    <b>{{'weekPage.weekEdit.event' | translate}}</b>
                </span>
                <span style="width: 18%" class="input-group">
                    <b>{{'weekPage.weekEdit.date' | translate}}</b>
                </span>
                <span style="width: 8%" class="input-group">
                    <b>{{'weekPage.weekEdit.time' | translate}}</b>
                </span>
                <span style="width: 22%" class="input-group">
                    <b>{{'weekPage.weekEdit.competition' | translate}}</b>
                </span>
            </div>
        </div>
    </div>

    <div class="row top-buffer-0-5-em">
        <div class="col-xs-12">
            <div class="form-inline" ng-repeat="match in week.events track by $index">
                <span class="glyphicon glyphicon-remove input-group" style="width: 2%; color: red; cursor: pointer"
                      ng-click="removeMatch($index)">
                </span>
                <span style="width: 23%" class="input-group">
                    <input type="text" ng-model="match.homeTeam.name"
                           class="form-control cornered-input"
                           ng-change="deleteTeamId(match.homeTeam)"
                           typeahead="team.name for team in getTeamsFromServer($viewValue)"
                           typeahead-on-select="onTypeaheadSelect(match.homeTeam, $item, $model, $label)"
                           typeahead-wait-ms="{{inputThrottleInterval}}"
                           placeholder="{{'weekPage.addNewWeekPage.homeTeam' | translate}}" />
                </span>
                <span style="width: 4%">
                    vs
                </span>
                <span style="width: 23%" class="input-group">
                    <input type="text" ng-model="match.awayTeam.name"
                           class="form-control cornered-input"
                           ng-change="deleteTeamId(match.awayTeam)"
                           typeahead="team.name for team in getTeamsFromServer($viewValue)"
                           typeahead-on-select="onTypeaheadSelect(match.awayTeam, $item, $model, $label)"
                           typeahead-wait-ms="{{inputThrottleInterval}}"
                           placeholder="{{'weekPage.addNewWeekPage.awayTeam' | translate}}" />
                </span>
                <span style="width: 18%" class="input-group">
                    <input type="text" class="form-control" datepicker-popup="{{dateFormat}}" ng-model="match.startDate"
                           is-open="match.dateOpened" min-date="minDate"
                           close-text="{{'weekPage.weekEdit.closeButton' | translate}}" ng-click="openDate(match, $event)" />
                </span>
                <span style="width: 8%" class="input-group">
                    <input ng-model="match.startTime" class="form-control cornered-input" placeholder="HH:MM" />
                </span>
                <span style="width: 22%" class="input-group">
                    <input type="text" ng-model="match.competition" class="form-control cornered-input"
                           placeholder="{{'weekPage.weekEdit.competition' | translate}}" />
                </span>
            </div>

            <div class="top-buffer-1-em" style="color: green">
                <span ng-click="addNewEvent()" style="cursor: pointer;">
                    <span class="glyphicon glyphicon-plus">
                    </span>
                    {{'weekPage.weekEdit.addNewEvent' | translate}}
                </span>
            </div>
            <div class="top-buffer-0-5-em">
                <input type="checkbox" id="resetScore" ng-model="resetScoreCheckbox" />
                <label for="resetScore" style="font-style: normal; font-weight: normal">
                    {{'weekPage.weekEdit.resetScores' | translate}}
                </label>
            </div>
            <div class="top-buffer-0-5-em">
                <input type="checkbox" id="hideWeek" ng-model="hiddenCheckbox" />
                <label for="hideWeek" style="font-style: normal; font-weight: normal">
                    {{'weekPage.weekEdit.hidden' | translate}}
                </label>
            </div>
        </div>
    </div>

</div>

<div class="modal-footer">
    <button class="btn btn-primary" ng-disabled="isSavingDisabled()" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">{{'weekPage.weekEdit.cancel' | translate}}</button>
</div>
