
<div class="container" ng-controller="RulesController">

    <div class="jumbotron white half-bg-opacity">

        <div class="row" style="margin-bottom: 3em">
            <h4 class="centered" style="margin-bottom: 1em">
                <span class="glyphicon glyphicon-pushpin"></span>
                How to play
            </h4>
            <div class="top-buffer-0-5-em">
                Each week, an admin chooses a bunch of football matches which are scheduled to be played that week.
                After the matches are chosen, the betting starts.
            </div>
            <div class="top-buffer-0-5-em">
                In order to win as many points as possible, you have to guess what the score will be for every event.
                If you guess the exact score for an event, you get 3 points.
            </div>
            <div class="top-buffer-0-5-em">
                If you don't guess the exact score, but you guess the difference
                between teams, as well as the winner team,
                you get 2 points.
                For example, let's say A plays against B. So we have A vs. B event. If your score is 3-1 and the result is 2-0,
                you get the 2 points. If you say 0-2, you don't get any points.
                The same rule applies for draws. If you say 1-1 and the result is 2-2, 3-3 or any other draw, you get 2
                points for guessing the score difference.
            </div>
            <div class="top-buffer-0-5-em">
                If you don't guess the exact score and you don't guess the difference either, your chance is that the team
                you bet on wins the match by any score. In this case, you get 1 point. For the same event, A vs. B,
                a guess of 3-1 gets you 1 point if the result is 1-0, 2-1, 3-2, 4-1, 3-0 etc. You get the point.
            </div>
            <div class="top-buffer-0-5-em">
                If you really have a bad luck and bet on a losing team, you win no points.
            </div>
            <div class="top-buffer-0-5-em">
                Every week will have a deadline. After that moment, betting is closed and you cannot play anymore.
                This deadline is one hour before the first match of the week starts.
            </div>
            <div class="top-buffer-0-5-em">
                Ranking is calculated for all users after an admin inserts the results for the matches of the current week.
                If you notice any miscalculation, please contact an administrator.
            </div>
        </div>

        <div class="row" style="margin-bottom: 3em">
            <h4 class="centered" style="margin-bottom: 1em">
                <span class="glyphicon glyphicon-pushpin"></span>
                User ranks
            </h4>
            <div class="top-buffer-0-5-em">
                <div>
                    List of user ranks and their description:
                </div>
                <div ng-repeat="role in rolesSorted track by role.name">
                    <span style="color: #00ff70">
                        {{role.beautifulName}}
                    </span>
                    - {{role.description}}
                </div>
            </div>
            <div class="top-buffer-0-5-em">
                <div>
                    Q: I've seen here and there the word root associated to a user rank. What does this rank mean?
                </div>
                <div>
                    A: Root is the rank of the superuser. It is inspired from the Linux community where root is the username
                    of the user with the greatest privileges.
                </div>
            </div>
            <div class="top-buffer-0-5-em">
                <div>
                    Q: Can I become root?
                </div>
                <div>
                    A: Short answer, no! You cannot become root. The highest rank you can achieve is admin.
                </div>
            </div>
        </div>

    </div>

</div>
