
<div class="container" ng-controller="AccountActivationController">

    <div class="jumbotron centered white half-bg-opacity">
        <h2>Activation</h2>
        <div>
            If you don't have a registration code, you can
            <span style="cursor: pointer; color: #73d1ff; text-decoration: underline;">resend</span>
            one to your e-mail.
        </div>
        <div class="input-group centered top-buffer-0-5-em" style="width: 40%;">
            <div class="form-group">
                <input type="text" class="form-control cornered-input" ng-model="inputs.registrationCode" placeholder="Registration code">
            </div>
        </div>
        <div style="margin-top: 1em">
            <button type="button" class="btn btn-info" style="width: 40%" ng-disabled="status.inProgress" ng-click="activate()">
                Activate
            </button>
        </div>

        <div ng-show="ActivationFactory.status.error" class="top-buffer-0-5-em centered cornered-input error-div"
             style= "width: 40%;">
            <span class="error-success-inner">
                {{ActivationFactory.status.message}}
            </span>
        </div>

    </div>

</div>
