
<div class="container">

    <div class="jumbotron centered white half-bg-opacity">
        <h2>{{'activationPage.name' | translate}}</h2>
        <div>
            {{'activationPage.explanations_prefix' | translate}}
            <span ng-click="resend()" class="blue-link">
                {{'activationPage.explanations_resendLink' | translate}}
            </span>
            {{'activationPage.explanations_suffix' | translate}}
        </div>
        <div>
            {{'activationPage.ifYouDontReceiveMail' | translate}}
        </div>
        <div style="color: #ff003f" ng-bind="resendMessage">
        </div>
        <div class="input-group centered top-buffer-0-5-em" style="width: 40%;">
            <div class="form-group">
                <input type="text" class="form-control cornered-input" ng-model="inputs.registrationCode"
                       placeholder="{{'activationPage.activationCode' | translate}}">
            </div>
        </div>
        <div style="margin-top: 1em">
            <button type="button" class="btn btn-info" style="width: 40%" ng-disabled="status.inProgress" ng-click="activate()">
                {{'activationPage.activateButton' | translate}}
            </button>
        </div>

        <div ng-show="ActivationFactory.status.error" class="top-buffer-0-5-em centered cornered-input error-div"
             style= "width: 40%;">
            <span class="error-success-inner">
                {{ActivationFactory.status.message}}
            </span>
        </div>

    </div>

</div>
