
<div class="container">

    <div class="jumbotron centered white half-bg-opacity">
        <h2>Activation</h2>
        <div>
            If you don't have an activation code, you can
            <span ng-click="resend()" class="blue-link">resend</span>
            one to your e-mail.
        </div>
        <div>
            If you don't receive your activation code via e-mail, please contact us to contact@canihazbets.me.
        </div>
        <div style="color: #ff003f" ng-bind="resendMessage">
        </div>
        <div class="input-group centered top-buffer-0-5-em" style="width: 40%;">
            <div class="form-group">
                <input type="text" class="form-control cornered-input" ng-model="inputs.registrationCode"
                       placeholder="Activation code">
            </div>
        </div>
        <div style="margin-top: 1em">
            <button type="button" class="btn btn-info" style="width: 40%" ng-disabled="status.inProgress" ng-click="activate()">
                Activate
            </button>
        </div>

        <div ng-show="ActivationFactory.status.error" class="top-buffer-0-5-em centered cornered-input error-div"
             style= "width: 40%;">
            <span class="error-success-inner">
                {{ActivationFactory.status.message}}
            </span>
        </div>

    </div>

</div>
