
<div class="container">

    <div class="jumbotron centered white half-bg-opacity">
        <h2>{{'changePasswordPage.name' | translate}}</h2>
        <div>
            {{'changePasswordPage.explanations1' | translate}}
        </div>
        <div class="input-group centered top-buffer-1-em" style="width: 40%;">
            <div class="form-group">
                <input type="password" class="form-control cornered-input" ng-model="inputs.oldPassword"
                       placeholder="{{'changePasswordPage.oldPassword' | translate}}">
                <input type="password" class="form-control cornered-input" ng-model="inputs.newPassword"
                       placeholder="{{'changePasswordPage.newPassword' | translate}}">
                <input type="password" class="form-control cornered-input" ng-model="inputs.confirmPassword"
                       placeholder="{{'changePasswordPage.confirmPassword' | translate}}">
            </div>
        </div>
        <div style="margin-top: 1em">
            <button type="button" class="btn btn-info" style="width: 40%" ng-show="!showConfirm"
                ng-disabled="status.inProgress" ng-click="showConfirm = true">
                {{'changePasswordPage.changeBtn' | translate}}
            </button>

            <button type="button" class="btn btn-info" style="width: 20%" ng-show="showConfirm"
                ng-click="changePassword(); showConfirm = false">
                {{'changePasswordPage.yes' | translate}}
            </button>
            <button type="button" class="btn btn-info" style="width: 20%" ng-show="showConfirm"
                ng-click="showConfirm = false">
                {{'changePasswordPage.no' | translate}}
            </button>
        </div>

        <div ng-show="status.success" class="top-buffer-0-5-em centered cornered-input success-div"
             style= "width: 40%;">
            <span class="error-success-inner">
                {{status.message}}
            </span>
        </div>

        <div ng-show="status.error" class="top-buffer-0-5-em centered cornered-input error-div"
             style= "width: 40%;">
            <span class="error-success-inner">
                {{status.message}}
            </span>
        </div>

    </div>

</div>
