<div class="navbar header-bg-color" ng-controller="UserController">
    <div class="container header-text-size">

        <div class="navbar-header">
            <a href="" class="navbar-brand header-text-color brand-color">
                &nbsp;
            </a>

            <button class="navbar-toggle white" data-toggle="collapse" data-target=".navHeaderCollapse">
                <span class="glyphicon glyphicon-align-justify"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse navHeaderCollapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="menu-link-border centered" href="#/">
                        <span class="glyphicon glyphicon-home"></span>
                        {{'header.logged.home' | translate}}
                    </a>
                </li>
                <li>
                    <a class="menu-link-border centered" href="#/week">
                        <span class="glyphicon glyphicon-fire"></span>
                        {{'header.logged.play' | translate}}
                    </a>
                </li>
                <li>
                    <a class="menu-link-border centered" href="#/ranking">
                        <span class="glyphicon glyphicon-th-list"></span>
                        {{'header.logged.ranking' | translate}}
                    </a>
                </li>
                <li>
                    <a class="menu-link-border centered" href="#/rules">
                        <span class="glyphicon glyphicon-book"></span>
                        {{'header.logged.rules' | translate}}
                    </a>
                </li>
                <li class="dropdown">
                    <a class="menu-link-border centered" href="" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-user"></span>
                        {{userInfo.user.username}}
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="">{{'header.logged.place' | translate}}: {{userInfo.user.place}}</a>
                        </li>
                        <li>
                            <a href="">{{'header.logged.points' | translate}}: {{userInfo.user.points}}</a>
                        </li>
                        <li>
                            <a href="#/profile">
                                {{'header.logged.myProfile' | translate}}
                            </a>
                        </li>
                        <li>
                            <a href="#/change-password">
                                {{'header.logged.changePassword' | translate}}
                            </a>
                        </li>
                        <li ng-if="RolesFactory.userHasRole(userInfo.user.role, RolesFactory.roles.admin)">
                            <a href="#/admin">
                                {{'header.logged.adminPanel' | translate}}
                            </a>
                        </li>
                        <li>
                            <a href="#/history">
                                {{'header.logged.history' | translate}}
                            </a>
                        </li>
                    </ul>
                </li>
                <li ng-click="logout()">
                    <a class="menu-link-border centered" href="">
                        <span class="glyphicon glyphicon-log-out"></span>
                        {{'header.logged.logout' | translate}}
                    </a>
                </li>

                <ng-include src="Templates.header.languageDropdown" include-replace></ng-include>

            </ul>
        </div>

    </div>
</div>
