<div class="navbar header-bg-color">
    <div class="container header-text-size">

        <div class="navbar-header">
            <a href="" class="navbar-brand header-text-color brand-color">
                &nbsp;
            </a>

            <button class="navbar-toggle white" data-toggle="collapse" data-target=".navHeaderCollapse">
                <span class="glyphicon glyphicon-align-justify"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse navHeaderCollapse">
            <ul class="nav navbar-nav navbar-right">
                <li ng-click="RoutesFactory.resetPath(); RoutesFactory.goHome()">
                    <a href="" class="menu-link-border centered">
                        <span class="glyphicon glyphicon-home"></span>
                        Home
                    </a>
                </li>
                <li title="Don't have an account? Register now!"
                ng-click="RoutesFactory.resetPath(); RoutesFactory.goToRegister()">
                    <a href="" class="menu-link-border centered">
                        <span class="glyphicon glyphicon-globe"></span>
                        Register
                    </a>
                </li>
                <li title="Have an account? Sign in." ng-click="RoutesFactory.resetPath(); RoutesFactory.goToLogin()">
                    <a href="" class="menu-link-border centered">
                        <span class="glyphicon glyphicon-log-in"></span>
                        Come on in
                    </a>
                </li>
            </ul>
        </div>

    </div>
</div>
