<div class="navbar header-bg-color" ng-controller="UserController">
    <div class="container header-text-size">

        <div class="navbar-header">
            <a href="" class="navbar-brand header-text-color brand-color">
                &nbsp;
            </a>

            <button class="navbar-toggle white" data-toggle="collapse" data-target=".navHeaderCollapse">
                <span class="glyphicon glyphicon-align-justify"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse navHeaderCollapse">
            <ul class="nav navbar-nav navbar-left">
                <li>
                    <a href="" class="menu-link-border centered" ng-click="toggleMessageBox();">
                        <i class="fa fa-envelope fa-fw"></i>
                        {{'header.logged.messages' | translate}}
                        <span class="badge" style="background-color: #ff0429"
                              ng-if="ChattingService.getNumberOfUnreadConversations() > 0">
                            {{ChattingService.getNumberOfUnreadConversations()}}
                        </span>
                    </a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="menu-link-border centered" href="#/">
                        <o class="fa fa-home fa-fw"></o>
                        {{'header.logged.home' | translate}}
                    </a>
                </li>
                <li>
                    <a class="menu-link-border centered" href="#/week">
                        <i class="fa fa-futbol-o fa-fw"></i>
                        {{'header.logged.play' | translate}}
                    </a>
                </li>
                <li>
                    <a class="menu-link-border centered" href="#/ranking">
                        <span class="fa fa-sort-amount-desc fa-fw"></span>
                        {{'header.logged.ranking' | translate}}
                    </a>
                </li>
                <li>
                    <a class="menu-link-border centered" href="#/rules">
                        <span class="fa fa-asterisk fa-fw"></span>
                        {{'header.logged.rules' | translate}}
                    </a>
                </li>
                <li>
                    <a class="menu-link-border centered" href="#/team">
                        <i class="fa fa-group fa-fw"></i>
                        {{'header.logged.team' | translate}}
                    </a>
                </li>
                <li class="dropdown">
                    <a class="menu-link-border centered" href="" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="fa fa-user fa-fw"></span>
                        {{userInfo.user.username}}
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#/ranking">
                                <i class="fa fa-sort-numeric-asc fa-fw"></i>
                                {{'header.logged.place' | translate}}: {{userInfo.user.place}}
                            </a>
                        </li>
                        <li>
                            <a href="#/ranking">
                                <i class="fa fa-star-half-empty fa-fw"></i>
                                {{'header.logged.points' | translate}}: {{userInfo.user.points}}
                            </a>
                        </li>
                        <li>
                            <a href="#/profile">
                                <i class="fa fa-user-secret fa-fw"></i>
                                {{'header.logged.myProfile' | translate}}
                            </a>
                        </li>
                        <li>
                            <a href="#/change-password">
                                <i class="fa fa-key fa-fw"></i>
                                {{'header.logged.changePassword' | translate}}
                            </a>
                        </li>
                        <li ng-if="RolesFactory.userHasRole(userInfo.user.role, RolesFactory.roles.admin)">
                            <a href="#/admin">
                                <i class="fa fa-user-plus fa-fw"></i>
                                {{'header.logged.adminPanel' | translate}}
                            </a>
                        </li>
                        <li>
                            <a href="#/history">
                                <i class="fa fa-history fa-fw"></i>
                                {{'header.logged.history' | translate}}
                            </a>
                        </li>
                        <li ng-click="logout()">
                            <a href="">
                                <span class="fa fa-sign-out fa-fw"></span>
                                {{'header.logged.logout' | translate}}
                            </a>
                        </li>
                    </ul>
                </li>

                <ng-include src="Templates.header.languageDropdown" include-replace></ng-include>

            </ul>
        </div>

        <div ng-show="showMessagesBrief" class="messages-preview" ng-controller="MessagesController">
            <div class="msg-box" ng-class="(ChattingService.lastMessages.length > 5) ? 'msg-box-scroll' : ''"
                 id="messages-preview" on-scroll="tryToLoadMore()">

                <div ng-repeat="msg in ChattingService.lastMessages track by msg.date"
                     ng-click="openChatBox(msg); closeMessagesBox();"
                     style="word-wrap: break-word" class="row-msg">
                    <div>
                        {{'messages.from' | translate}}
                        <span style="color: #060032; font-weight: bold;">
                            {{msg.from.username}}
                        </span>
                        {{'messages.to' | translate}}
                        <span style="color: #060032; font-weight: bold;">
                            {{msg.to.username}}
                        </span>
                    </div>
                    <div style="color: #060032;" class="ellipsis-text">
                        {{msg.message}}
                    </div>
                    <div style="font-size: 80%">
                        {{msg.date | date: 'd MMM yy, HH:mm'}}
                    </div>
                </div>
                <div ng-show="loadingMore" class="centered">
                    <img src="images/loader.gif" style="width: 5%; height: 5%; padding-top: 10px;" />
                </div>

                <div class="row-msg" style="padding: 1em"
                     ng-if="ChattingService.socketsTimeout">
                    {{'messages.socketsTimeout' | translate}}
                </div>
                <div class="row-msg" style="padding: 1em" ng-if="ChattingService.loadedInbox && ChattingService.lastMessages.length == 0">
                    {{'messages.noMessages' | translate}}
                </div>
                <div class="row-msg" style="padding: 1em" ng-if="!ChattingService.loadedInbox && !ChattingService.socketsTimeout">
                    <img src="images/loader.gif" style="width: 15%; height: 15%;" />
                </div>

            </div>

        </div>

    </div>
</div>
