<div class="container">

    <div class="jumbotron centered white half-bg-opacity">
        <h2>Login</h2>
        <div>
            <a class="blue-link" href="#/forgot-password">Forgot password</a>
        </div>
        <div class="input-group centered top-buffer-1-em" style="min-width: 40%;">
            <div class="form-group">
                <input type="text" class="form-control cornered-input" ng-keydown="loginOnEnterKey($event)" ng-model="inputs.username.model" placeholder="Username">
            </div>
            <div class="form-group">
                <input type="password" class="form-control cornered-input" ng-keydown="loginOnEnterKey($event)" ng-model="inputs.password.model" placeholder="Password">
            </div>
        </div>
        <div style="margin-top: 1em">
            <div style="margin: 0.5em">
                <input type="checkbox" id="keepMeLoggedInCheckbox" ng-model="inputs.keepMeLoggedIn.active" />
                <label for="keepMeLoggedInCheckbox" style="font-style: normal; font-weight: normal">
                    Keep me logged in for
                    <span class="form-inline">
                        <input type="number" class="form-control cornered-input" ng-model="inputs.keepMeLoggedIn.days"
                                style="width: 23%" ng-change="validateNumberOfKeepMeLoggedDays()" />
                    </span>
                    days.
                </label>
            </div>
            <button type="button" class="btn btn-info" style="width: 40%" ng-click="login()" ng-disabled="loginInProgress">
                Come on in
            </button>
        </div>

        <div ng-show="error.encounteredError" class="top-buffer-0-5-em centered cornered-input error-div"
         style= "width: 40%;">
            <span class="error-success-inner">
                {{error.message}}
            </span>
        </div>

    </div>

</div>