<div class="container" ng-controller="RegisterController">

    <div class="jumbotron centered">
        <h2>Create a new account</h2>
        <div class="input-group centered" style="min-width: 40%;">
            <div class="form-group">
                <input type="text" ng-model="inputs.username.model" class="form-control cornered-input" ng-class="inputs.username.error ? 'red-border' : ''" placeholder="Username">
            </div>
            <div class="form-group">
                <input type="password" ng-model="inputs.password.model" class="form-control cornered-input" ng-class="inputs.password.error ? 'red-border' : ''" placeholder="Password">
            </div>
            <div class="form-group">
                <input type="password" ng-model="inputs.confirmPassword.model" class="form-control cornered-input" ng-class="inputs.confirmPassword.error ? 'red-border' : ''" placeholder="Confirm password">
            </div>
            <div class="form-group">
                <input type="text" ng-model="inputs.email.model" class="form-control cornered-input" ng-class="inputs.email.error ? 'red-border' : ''" placeholder="E-mail">
            </div>
            <div class="form-group">
<!--                <span class="input-group-addon glyphicon glyphicon-calendar"></span>-->
                <input ui-date="dateOptions" ng-model="inputs.birthDate.model" class="form-control cornered-input" ng-class="inputs.birthDate.error ? 'red-border' : ''" placeholder="Birth date">
            </div>
        </div>
        <div style="margin-top: 1em">
            <a class="btn btn-info" ng-click="register()">
                Register
            </a>
        </div>
        <div ng-show="status.success || status.error" ng-class="status.success ? 'alert-success' : 'alert-danger'">
            {{status.message}}
        </div>

    </div>

</div>