<div class="container" ng-controller="RegisterController">

    <div class="jumbotron centered white half-bg-opacity" style="min-height: 40em">
        <h2>Create a new account</h2>
        <div class="input-group centered" style="min-width: 40%;">
            <div class="form-group">
                <input type="text" ng-model="inputs.username.model" class="form-control cornered-input" ng-class="inputs.username.error ? 'red-border' : ''" placeholder="Username">
            </div>
            <div class="form-group">
                <input type="password" ng-model="inputs.password.model" class="form-control cornered-input" ng-class="inputs.password.error ? 'red-border' : ''" placeholder="Password">
            </div>
            <div class="form-group">
                <input type="password" ng-model="inputs.confirmPassword.model" class="form-control cornered-input" ng-class="inputs.confirmPassword.error ? 'red-border' : ''" placeholder="Confirm password">
            </div>
            <div class="form-group">
                <input type="text" ng-model="inputs.email.model" class="form-control cornered-input" ng-class="inputs.email.error ? 'red-border' : ''" placeholder="E-mail">
            </div>
            <div class="form-group">
                <input ui-date="dateOptions" ng-model="inputs.birthDate.model" class="form-control cornered-input" ng-class="inputs.birthDate.error ? 'red-border' : ''" placeholder="Birth date">
            </div>
        </div>
        <div style="margin-top: 1em;">
            <button type="button" style="min-width: 40%;" class="btn btn-info" ng-click="register()" ng-disabled="inputs.password.model.length == 0">
                Register
            </button>
        </div>

        <div ng-show="status.inProgress" class="top-buffer-0-5-em centered" style="width: 40%">
            <img src="/images/spinner.gif" />
            <span>
                A confirmation email is being sent to you.
            </span>
        </div>

        <div ng-show="status.success || status.error" class="top-buffer-0-5-em centered cornered-input "
        ng-class="status.success ? 'success-div' : 'error-div'" style="width: 40%">
            <span class="error-success-inner">
                {{status.message}}
            </span>
        </div>

    </div>

</div>