<div class="container">

    <div class="jumbotron centered">
        <h2>Register</h2>
        <div>
            <span class="label label-primary">Username: </span>&nbsp;
            <input type="text"/>
        </div>
        <div style="margin-top: 0.2em">
            <span class="label label-primary">Password: </span>&nbsp;
            <input type="password"/>
        </div>
        <div style="margin-top: 0.2em">
            <span class="label label-primary">Confirm password: </span>&nbsp;
            <input type="password"/>
        </div>
        <div style="margin-top: 0.2em">
            <span class="label label-primary">E-mail: </span>&nbsp;
            <input type="text"/>
        </div>
        <div style="margin-top: 0.2em">
            <span class="label label-primary">Birth date: </span>&nbsp;
            <input type="text"/>
        </div>
        <div style="margin-top: 0.2em">
            <span class="label label-primary">Favorite teams: </span>&nbsp;
            <input type="text"/> (use commas to separate)
        </div>
        <div style="margin-top: 0.2em">
            <span class="label label-primary">Social media: </span>&nbsp;
            <input type="text"/> (paste the link of one of your profile)
        </div>
        <div style="margin-top: 1em">
            <a class="btn btn-info">
                Register
            </a>
        </div>
    </div>

</div>