
<div ng-controller="AdminUsersPanel">

    <input type="text" class="form-control cornered-input" style="width: 30%; margin-bottom: 1.5em;"
        placeholder="{{'adminPanelPage.usersPage.searchUser' | translate}}" ng-model="searchedUser" typeahead="user.username for user in users | filter:$viewValue"
        ng-keydown="openUserModalOnEnter($event)">

    <div class="row top-buffer-1-em" style="margin-bottom: 2em; font-size: 1.2em; cursor: default;">
        <span class="col-xs-1">&nbsp;</span>
        <span class="col-xs-2" ng-click="toggleSorting('username', 1)">
            {{'adminPanelPage.usersPage.username' | translate}}
            <span ng-if="sorts.username == 0" class="glyphicon glyphicon-sort"></span>
            <span ng-if="sorts.username < 0" class="glyphicon glyphicon-arrow-up"></span>
            <span ng-if="sorts.username > 0" class="glyphicon glyphicon-arrow-down"></span>
        </span>
        <span class="col-xs-3">{{'adminPanelPage.usersPage.email' | translate}}</span>
        <span class="col-xs-2" ng-click="toggleSorting('lastLogin', -1)">
            {{'adminPanelPage.usersPage.lastLogin' | translate}}
            <span ng-if="sorts.lastLogin == 0" class="glyphicon glyphicon-sort"></span>
            <span ng-if="sorts.lastLogin < 0" class="glyphicon glyphicon-arrow-up"></span>
            <span ng-if="sorts.lastLogin > 0" class="glyphicon glyphicon-arrow-down"></span>
        </span>
        <span class="col-xs-1" ng-click="toggleSorting('points', -1)">
            {{'adminPanelPage.usersPage.pts' | translate}}
            <span ng-if="sorts.points  == 0" class="glyphicon glyphicon-sort"></span>
            <span ng-if="sorts.points < 0" class="glyphicon glyphicon-arrow-up"></span>
            <span ng-if="sorts.points > 0" class="glyphicon glyphicon-arrow-down"></span>
        </span>
        <span class="col-xs-1">{{'adminPanelPage.usersPage.rank' | translate}}</span>
        <span class="col-xs-2">{{'adminPanelPage.usersPage.registrationIP' | translate}}</span>
    </div>

    <div ng-repeat="user in users | dateSort:'lastLogin':sorts.lastLogin | stringSort:'username':sorts.username |
        numberSort:'points':sorts.points track by user._id" class="row top-buffer-0-5-em">

        <span class="col-xs-1">
            <span class="glyphicon glyphicon-cog" ng-click="openModal(user)" style="cursor: pointer;"></span>
        </span>
        <span class="col-xs-2">{{user.username}}</span>
        <span class="col-xs-3">{{user.email}}</span>
        <span class="col-xs-2">{{user.lastLogin | date:'d MMM y, HH:mm'}}</span>
        <span class="col-xs-1">{{user.points}} (#{{user.place}})</span>
        <span class="col-xs-1">{{RolesFactory.findRoleByName(user.role).beautifulName}}</span>
        <span class="col-xs-2">{{user.registrationIp}}</span>
    </div>

</div>


<script type="text/ng-template" id="profileViewModalAdmin.html">
    <div class="modal-header">
        <h3 class="modal-title">{{user.username}}</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <img style="padding-left: 2em; padding-top: 0.5em; padding-bottom: 1em;"
                 ng-src="{{Gravatar.getImageUrl(user.email, 150)}}" />
        </div>
        <div class="row">
            <span class="col-xs-4">
                {{'adminPanelPage.usersPage.username' | translate}}
            </span>
            <span class="col-xs-8">
                {{user.username}}
            </span>
        </div>
        <div class="row">
            <span class="col-xs-4">
                {{'adminPanelPage.usersPage.email' | translate}}
            </span>
            <span class="col-xs-8">
                {{user.email}}
            </span>
        </div>
        <div class="row">
            <span class="col-xs-4">
                {{'adminPanelPage.usersPage.preferredLanguage' | translate}}
            </span>
            <span class="col-xs-8">
                <img ng-src="{{Languages.findByCode(user.language).imgPath}}" style="margin-bottom: 3px" />
                {{Languages.findByCode(user.language).name}}
            </span>
        </div>
        <div class="row">
            <span class="col-xs-4">
                {{'adminPanelPage.usersPage.place' | translate}}
            </span>
            <span class="col-xs-8">
                {{user.place}}
            </span>
        </div>
        <div class="row">
            <span class="col-xs-4">
                {{'adminPanelPage.usersPage.points' | translate}}
            </span>
            <span class="col-xs-8">
                {{user.points}}
            </span>
        </div>
        <div class="row">
            <span class="col-xs-4">
                {{'adminPanelPage.usersPage.average' | translate}}
            </span>
            <span class="col-xs-8">
                {{user.avgPoints.toFixed(2)}}%
            </span>
        </div>
        <div class="row dropdown"
             ng-if="RolesFactory.userHasRole(userInfo.user.role, RolesFactory.roles.root) &&
             RolesFactory.roleCompare(userInfo.user.role, user.role) > 0">
            <span class="col-xs-4">
                {{'adminPanelPage.usersPage.userRank' | translate}}
            </span>
            <span class="col-xs-8">
                <span class="btn btn-default btn-xs dropdown-toggle" type="button" id="dropdownMenuRole"
                  data-toggle="dropdown" style="cursor: pointer">
                    {{RolesFactory.findRoleByName(user.role).beautifulName}}
                    <span class="caret"></span>
                </span>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenuRole" style="cursor: pointer">
                    <li role="presentation" ng-repeat="role in RolesFactory.roles">
                        <a role="menuitem" tabindex="-1" ng-click="user.role = role.name">
                            {{role.beautifulName}}
                        </a>
                    </li>
                </ul>
            </span>
        </div>
        <div class="row" ng-if="!RolesFactory.userHasRole(userInfo.user.role, RolesFactory.roles.root) ||
            RolesFactory.roleCompare(userInfo.user.role, user.role) <= 0">
            <span class="col-xs-4">
                {{'adminPanelPage.usersPage.userRank' | translate}}
            </span>
            <span class="col-xs-8">
                {{RolesFactory.findRoleByName(user.role).beautifulName}}
            </span>
        </div>
        <div class="row">
            <span class="col-xs-4">
                {{'adminPanelPage.usersPage.birthDate' | translate}}
            </span>
            <span class="col-xs-8">
                {{user.birthDate | date:'MMM d, y'}}
            </span>
        </div>
        <div class="row">
            <span class="col-xs-4">
                {{'adminPanelPage.usersPage.registerDate' | translate}}
            </span>
            <span class="col-xs-8">
                {{user.registerDate | date:'MMM d, y'}}
            </span>
        </div>
        <div class="row">
            <span class="col-xs-4">
                {{'adminPanelPage.usersPage.registrationIP' | translate}}
            </span>
            <span class="col-xs-8">
                {{user.registrationIp}}
            </span>
        </div>
        <div class="row" ng-if="user.lastLogin">
            <span class="col-xs-4">
                {{'adminPanelPage.usersPage.lastLogin' | translate}}
            </span>
            <span class="col-xs-8">
                {{toDate(user.lastLogin) | date: 'EEEE, MMM d, y, h:mm a'}}
            </span>
        </div>
        <div class="row dropdown"  ng-if="RolesFactory.userHasRole(userInfo.user.role, RolesFactory.roles.admin) &&
            RolesFactory.roleCompare(userInfo.user.role, user.role) > 0">
            <span class="col-xs-4">
                {{'adminPanelPage.usersPage.active' | translate}}
            </span>
            <span class="col-xs-8">
                <span class="btn btn-default btn-xs dropdown-toggle" type="button" id="dropdownMenuActive"
                data-toggle="dropdown" style="cursor: pointer">
                    {{!!user.active ? ('adminPanelPage.usersPage.yes' | translate) : ('adminPanelPage.usersPage.no' | translate)}}
                    <span class="caret"></span>
                </span>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenuActive" style="cursor: pointer">
                    <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="user.active = true">
                        {{'adminPanelPage.usersPage.yes' | translate}}
                    </a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="user.active = false">
                        {{'adminPanelPage.usersPage.no' | translate}}
                    </a></li>
                </ul>
            </span>
        </div>
        <div class="row" ng-if="!RolesFactory.userHasRole(userInfo.user.role, RolesFactory.roles.admin) ||
        RolesFactory.roleCompare(userInfo.user.role, user.role) <= 0">
            <span class="col-xs-4">
                {{'adminPanelPage.usersPage.active' | translate}}
            </span>
            <span class="col-xs-8">
                {{!!user.active ? ('adminPanelPage.usersPage.yes' | translate) : ('adminPanelPage.usersPage.no' | translate)}}
            </span>
        </div>
        <div class="row dropdown" ng-if="RolesFactory.userHasRole(userInfo.user.role, RolesFactory.roles.admin) &&
        RolesFactory.roleCompare(userInfo.user.role, user.role) > 0">
            <span class="col-xs-4">
                {{'adminPanelPage.usersPage.disabled' | translate}}
            </span>
            <span class="col-xs-8">
                <span class="btn btn-default btn-xs dropdown-toggle" type="button" id="dropdownMenuDisabled"
                data-toggle="dropdown" style="cursor: pointer">
                    {{!!user.disabled ? ('adminPanelPage.usersPage.yes' | translate) : ('adminPanelPage.usersPage.no' | translate)}}
                    <span class="caret"></span>
                </span>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenuDisabled" style="cursor: pointer">
                    <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="user.disabled = true">
                        {{'adminPanelPage.usersPage.yes' | translate}}
                    </a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="user.disabled = false">
                        {{'adminPanelPage.usersPage.no' | translate}}
                    </a></li>
                </ul>
            </span>
        </div>
        <div class="row" ng-if="!RolesFactory.userHasRole(userInfo.user.role, RolesFactory.roles.admin) ||
        RolesFactory.roleCompare(userInfo.user.role, user.role) <= 0">
            <span class="col-xs-4">
                {{'adminPanelPage.usersPage.disabled' | translate}}
            </span>
            <span class="col-xs-8">
                {{!!user.disabled ? ('adminPanelPage.usersPage.yes' | translate) : ('adminPanelPage.usersPage.no' | translate)}}
            </span>
        </div>


<!--        <div class="row top-buffer-2-em" style="color: #00ba5d">
            <span class="col-xs-12">
                <h3>
                    {{'adminPanelPage.usersPage.loginLocations' | translate}}
                </h3>
            </span>
        </div>

        <div class="top-buffer-2-em" ng-repeat="location in locations" style="font-size: 100%">
            <div class="row">
                <span class="col-xs-2">IP</span>
                <span class="col-xs-4">{{location.query}}</span>
                <span class="col-xs-2">ISP</span>
                <span class="col-xs-4">{{location.isp}}</span>
            </div>
            <div class="row">
                <span class="col-xs-2">{{'adminPanelPage.usersPage.organization' | translate}}</span>
                <span class="col-xs-4">{{location.org}}</span>
                <span class="col-xs-2">{{'adminPanelPage.usersPage.city' | translate}}</span>
                <span class="col-xs-4">{{location.city}}</span>
            </div>
            <div class="row">
                <span class="col-xs-2">{{'adminPanelPage.usersPage.region' | translate}}</span>
                <span class="col-xs-4">{{location.regionName + " (" + location.region + ")"}}</span>
                <span class="col-xs-2">{{'adminPanelPage.usersPage.country' | translate}}</span>
                <span class="col-xs-4">{{location.country + " (" + location.countryCode + ")"}}</span>
            </div>
            <div class="row">
                <span class="col-xs-2">{{'adminPanelPage.usersPage.timezone' | translate}}</span>
                <span class="col-xs-4">{{location.timezone}}</span>
                <span class="col-xs-2">AS</span>
                <span class="col-xs-4">{{location.as}}</span>
            </div>
            <div class="row">
                <span class="col-xs-2">{{'adminPanelPage.usersPage.coordinates' | translate}}</span>
                <span class="col-xs-4">{{location.lon + " / " + location.lat}}</span>
                <span class="col-xs-2">{{'adminPanelPage.usersPage.date' | translate}}</span>
                <span class="col-xs-4">{{location.date | date: 'd MMM y, HH:mm'}}</span>
            </div>
        </div>

        <div class="row" ng-if="locations.length == 0">
            <span class="col-xs-12">
                {{'adminPanelPage.usersPage.locationsNoItemsMessage' | translate}}
            </span>
        </div>

        <div class="row" ng-if="errorLocations">
            <span class="col-xs-12" style="color: #ff0047">
                {{'adminPanelPage.usersPage.errorLocations' | translate}}
            </span>
        </div>

        <div class="row" ng-if="locations.length > 0">
            <pagination total-items="pagingLocations.totalItems" ng-model="pagingLocations.currentPage"
                        items-per-page="pagingLocations.itemsPerPage"
                        class="pagination-sm" boundary-links="true"
                        next-text="{{'weekPage.weekHistory.nextText' | translate}}"
                        previous-text="{{'weekPage.weekHistory.prevText' | translate}}"
                        first-text="{{'weekPage.weekHistory.firstText' | translate}}"
                        last-text="{{'weekPage.weekHistory.lastText' | translate}}"></pagination>
        </div>-->

        <div class="row" ng-if="errorSaving">
            <span class="col-xs-12" style="color: red;">
                {{'adminPanelPage.usersPage.anErrorHasOcurred' | translate}}
            </span>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">
            {{'adminPanelPage.usersPage.cancelButton' | translate}}
        </button>
    </div>
</script>
