
<div class="container">
    <div class="jumbotron centered half-bg-opacity">

        <h2 class="white" style="margin-bottom: 1em" ng-show="HistoryFactory.betHistoryUser">
            {{'historyPage.name_prefix' | translate}} {{HistoryFactory.betHistoryUser.username}}{{'historyPage.name_suffix' | translate}}
        </h2>

        <h3 class="white" style="margin-bottom: 1em" ng-if="historyObject.length == 0">
            {{'historyPage.noHistoryItems' | translate}}
        </h3>

        <div class="panel panel-primary" ng-repeat="week in historyObject track by $index">
            <div class="panel-heading">
                <div class="row">
                    <h2 class="panel-title">
                        {{'historyPage.week' | translate}} {{week.weekNumber}}
                        <span ng-if="!week.available">
                            &nbsp;({{'historyPage.endedOn' | translate}}: {{week.weekEndDate | date: 'MMM d, yy h:mm a'}})
                        </span>
                        <span ng-if="week.available">
                            &nbsp;({{'historyPage.inProgress' | translate}})
                        </span>
                    </h2>
                </div>

            </div>

            <div class="panel-body">

                <div ng-if="!week.available && !week.placed" class="row" style="margin-top: 1em; margin-bottom: 1em;">
                    {{'historyPage.noBetPlacedThisWeek' | translate}}
                </div>

                <div class="row" style="margin-top: 1em; margin-bottom: 1em; font-size: 1.3em">
                    <span class="col-xs-2">
                        <b>{{'historyPage.startTime' | translate}}</b>
                    </span>
                    <span class="col-xs-4">
                        <b>{{'historyPage.event' | translate}}</b>
                    </span>
                    <span class="col-xs-3">
                        <b>{{'historyPage.competition' | translate}}</b>
                    </span>
                    <span class="col-xs-1">
                        <b>{{'historyPage.bet' | translate}}</b>
                    </span>
                    <span class="col-xs-1">
                        <b>{{'historyPage.result' | translate}}</b>
                    </span>
                    <span class="col-xs-1">
                        <b>{{'historyPage.points' | translate}}</b>
                    </span>
                </div>

                <div ng-repeat="event in week.events" class="row">
                    <span class="col-xs-2">
                        {{event.startDate | date: 'd MMM yy, h:mm a'}}
                    </span>
                    <span class="col-xs-4">
                        {{event.homeTeam.name}} - {{event.awayTeam.name}}
                    </span>
                    <span class="col-xs-3">
                        {{event.competition}}
                    </span>
                    <span class="col-xs-1">
                        {{event.score.bet.home}} - {{event.score.bet.away}}
                    </span>
                    <span class="col-xs-1">
                        {{event.score.real.home}} - {{event.score.real.away}}
                    </span>
                    <span class="col-xs-1">
                        {{event.points}}
                    </span>
                </div>

                <div class="row top-buffer-1-em">
                    <span class="col-xs-2 pull-right">
                        {{'historyPage.totalPoints' | translate}}: {{week.points}}
                    </span>
                </div>

            </div>

        </div>

    </div>
</div>
