<div class="modal-header">
    <h3 class="modal-title">Week #{{week.number}} - History</h3>
</div>

<div class="modal-body">

    <pagination total-items="paging.totalItems" ng-model="paging.page" items-per-page="paging.itemsPerPage"
                class="pagination-sm" boundary-links="true"></pagination>

    <div class="panel panel-primary" ng-repeat="bet in history track by bet._id">
        <div class="panel-heading">
            <div>
                <h2 class="panel-title">
                    {{bet.username}} won {{bet.points + " " + (bet.points == 1 ? 'point' : 'points')}} this week.
                    <span ng-if="!week.ended">(Week is not ended.)</span>
                </h2>
            </div>
        </div>

        <div class="panel-body">
            <div ng-repeat="event in week.events track by event.index" ng-init="betScores = getBetByIndex(bet, event.index)">
                <span class="col-xs-3">
                    {{event.startDate | date: 'MMM d, y h:mm a'}}
                </span>
                <span class="col-xs-6">
                    {{event.homeTeam}} - {{event.awayTeam}} ({{event.competition}})
                </span>
                <span class="col-xs-1">
                    {{betScores.homeScore}} - {{betScores.awayScore}}
                </span>
                <span class="col-xs-2">
                    <span ng-if="week.ended">
                        {{betScores.points + " " + (betScores.points == 1 ? 'point' : 'points')}}
                    </span>
                    <span ng-if="!week.ended">
                        Not ended
                    </span>
                </span>
            </div>
        </div>
    </div>

    <div class="panel panel-primary" ng-if="status.error">
        <div class="panel-heading">
            <div>
                <h2 class="panel-title">
                    Error
                </h2>
            </div>
        </div>

        <div class="panel-body">
            {{status.message}}
        </div>
    </div>

    <div class="panel panel-primary" ng-if="status.success && history.length == 0">
        <div class="panel-heading">
            <div>
                <h2 class="panel-title">
                    No bets.
                </h2>
            </div>
        </div>

        <div class="panel-body">
            It seems that there aren't any bets to show.
        </div>
    </div>

</div>

<div class="modal-footer">
    <button class="btn btn-warning" ng-click="close()">Close</button>
</div>
